html {
  background-color: #272822;
  overflow: hidden;
}

body {
  margin: 0;
}

cellular-automata {
  display: block;
}

cellular-automata canvas {
  height: 100vh;
  image-rendering: pixelated;
  width: 100vw;
}
